<div>
    <div class="input-field-product">
        <div class="sort-cont">
            <label>sort by price</label>
            <mat-form-field>
                <mat-label>select</mat-label>
                <mat-select [(ngModel)]="sortProductsBy"  (ngModelChange)="sortProducts()" >
                    <mat-option [value]="'asc'">Low - High</mat-option>
                    <mat-option [value]="'desc'">High - Low</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <div class="products-container">
        <div *ngIf="searchedProductsList.length>0 || searchInput!=='' ; then cards; else loader"></div>
        <ng-template #cards><mat-card *ngFor="let item of searchedProductsList" class="card">
            <img src="{{item.image}}" alt="not-found" class="image" />
            <h3>{{item.title}}</h3>
            <p class="description">{{item.description}}</p>
            <div>
                <p class="rating"><b>Rating : {{item.rating.rate}}⭐</b></p>
                <p class="price-para"><b>Price : {{item.price}} $</b></p>
            </div>
            <button mat-raised-button color="primary" (click)="addToCart(item)" >Add to Cart</button>
        </mat-card>
    </ng-template>
        <ng-template #loader><mat-progress-bar mode="indeterminate" style="width:84%; margin-left:7rem"></mat-progress-bar></ng-template>
        <div *ngIf="searchedProductsList.length===0 && searchInput!=='' then noresult"></div>
        <ng-template #noresult>
            <h3 class="nores-head">No Results Found !!</h3>
        </ng-template>
    </div>
</div>
<app-footer></app-footer>