.products-container{
    background-color: rgb(241,243,245);
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 80vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-field-product{
    padding-top: 1rem;
    padding-right: 7rem;
    /* margin-right: 3rem; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(241,243,245);

}

.sort-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.sort-cont label{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgb(34, 32, 32);
}




.card{
    width: 20rem;
    height: 32rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin:  0 0 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.image{
    height: 12rem;
    width: 12rem;
    align-self: center;
}
.card h3{
    max-height: 50px;
    overflow: hidden;
    font-weight: bold;
    font-size: 1rem;
    align-self: flex-start;
}
.products-container div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rating,.price-para{
    font-size: 1rem;
    /* margin-top: 7px; */
}
.description{  
  max-height: 60px;
  overflow: hidden;
  /* display: -webkit-box; */
}
.card p{
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-icon{
    font-size: 1rem;
    color: rgb(255, 230, 0);
    margin: 8px 0 0 3px;
}
.nores-head{
    color: rgb(34, 33, 33);
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width:991px) {
    .products-container{
        background-color: rgb(241,243,245);
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        min-height: 80vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .input-field-product{
        /* padding-top: 1rem;
        padding-right: 7rem; */
        /* margin-right: 3rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(241,243,245);
    
    }
    .sort-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .sort-cont label{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-right: 1rem;
        color: rgb(34, 32, 32);
    }
    .card{
        width: 14rem;
        height: 20rem;
        padding: 1rem;
        padding-bottom: 1.5rem;
        /* margin:  0 0 3rem 5rem; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2rem;
        /* margin-right: 1rem; */
    }
    .image{
        height: 5rem;
        width: 5rem;
    }
    .description{
        max-height: 60px;
        max-width: 12rem;
        overflow: hidden;
    }
    b{
        font-size: .7rem ;
    }
}